*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    --header-height: 50px;
    margin: var(--header-height) 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0F0A11;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background: #291472;
    display: flex;
    justify-content: space-between;
}

.header i{
    padding: 1vh;
    color: #fff;
}

.btn{
    width: var(--header-height);
    flex-shrink: 0;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.links{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100vh;
    width: 250px;
    background-color: #8c49f8;
    transform: translateX(-250px);
    transition: transform 0.3s;
}

.open .links{
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.opcao{
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    padding: 12px 15px;
    background: transform 0.2s;
}

.opcao i{
    padding: 2%;
}

.opcao h2{
    padding: 2%;
}

.opcao:hover{
    color: #009578;
    background: #eee;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}

.open .overlay{
    visibility: visible;
    opacity: 1;
}

.preload * {
    transition: none !important;
}

.slider{
    margin: 0 auto;
    width: 80vw;
    height: 20vh;
    overflow: hidden;
    margin-top: 5%;
}

.slides{
    width: 40vw;
    height: 480px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 250%;
    position: relative;
}

.slide img{
    width: 80vw;
}

.manual-navegation{
    position: absolute;
    width: 80vw;
    margin-top: -87.2%;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;   
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #fff;
}

#radio1:checked ~ .first{
    margin: 0;
}

#radio2:checked ~ .first{
    margin: -100%;
}

#radio3:checked ~ .first{
    margin: -200%;
}

#radio4:checked ~ .first{
    margin: -300%;
}

.navegation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navegation-auto{
    position: absolute;
    width: 80vw;
    margin-top: 36%;
    display: flex;
    justify-content: center;
}

.navegation-auto div:not(:last-child){
    margin-right: 40px;
}


.sld{
    margin-top: 20%;
}
#radio1:checked ~ .navegation-auto .auto-btn1{
    background-color: #fff;
}

#radio2:checked ~ .navegation-auto .auto-btn2{
    background-color: #fff;
}

#radio3:checked ~ .navegation-auto .auto-btn3{
    background-color: #fff;
}

#radio4:checked ~ .navegation-auto .auto-btn4{
    background-color: #fff;
}

.animex{
    margin: 2%;
    margin-left: 20%;
    margin-right: 8%;
    color: #fff;
}

.mangas{
    color: white;
    margin-top: 5%;
    display: flex;
    flex-flow: row nowrap;
    overflow-x: auto;
}

.cont-item{
    padding-left: 2.5%;
    padding-right: 2.5%;
}

#img{
    width: 30vw;
    height: 20vh;
}

main{
    margin-top: 15%;
    color: white;
}

.cont h3{
    padding-top: 5%;
    margin-left: 2%;
}

.contatos{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contatos i{
    color: #fff;
    padding: 5%;
    margin-top: 4%;
}